<% if user_signed_in? %>
	Logged in as <strong><%= current_user.email %></strong>
<% end %>


<!-- Overlay -->
<div id="section-home" class="home-section-wrap center">
	<div class="section-overlay"></div>
</div>
<!-- /Overlay -->

<!-- main -->
<div class="main">
	<!-- header -->
	<header class="header-site">
		<div class="logo-site animated bounceInDown" data-animation-delay="700">
			<h1> Meya Currency Predictor </h1>
		</div>
	</header>
	<!-- /header -->
	<% @calculation.each do |calculation| %>
		<p>Convert <%=calculation.amount%> from <%= calculation.base_currency%> to <%=calculation.conversion_currency%>  |  Duration <%= calculation.num_of_days %> weeks </p>
		<%= link_to 'view', calculation_path(calculation) %>
	<% end %>

</div>
<!-- /main -->
