<%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
<div class="section-overlay-modify">
  <!-- main -->
  <div class="main">


  	<!-- section -->
  	<section class="section fullscreen site-main">
  		<div class="container-section">
  				<div class="container-table">
  					<div class="content-table">
  					<!-- bt-carousel -->
  					<div class="bt-carousel">

  						<!-- home section -->
  						<div class="item-slide show">
  							<!-- container -->
  							<div class="container">
  								<div class="row">
  									<div class="col-md-10 col-md-offset-1">

  									<!-- content slide -->
  									<div class="content-slide">
                      <h4 class="color-white top-margin animated bounceInDown" data-animation-delay="700" ><strong><%= @calculation.num_of_days%> Week(s) Conversion for
                        <%= @calculation.amount %> <%=@calculation.base_currency%> to <%= @calculation.conversion_currency %></strong></h4>

  										<!-- Subscribe Form -->
  										<div class="form animated bounceInUp" data-animation-delay="700">
  											<!-- container form -->
  											<div class="container-form">
  												<!-- section page -->
  												<div class="section-page" id="signup">
  													<% unless user_signed_in? %>
  														<form class="sign-up-sign-in-form" method="post" id="mc-form">
  															<a href="<%= new_user_registration_path %>"><button type="submit" id="" class="border-button no-bottom-margin">Register</button></a>
  															<a href="<%= new_user_session_path %>"><button type="submit" id="" class="border-button no-bottom-margin">Sign In</button></a>
  														</form>
  													<% else %>
                              <%= column_chart @result.value %>
                              <br>
                              <!-- Button trigger modal -->
                              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#summary-table">
                                View Full Table
                              </button>
  													<% end %>
  												</div>
  												<!-- /section page -->
  											</div>
  											<!-- /container form -->
                        <table class="table table-sm table-bordered">
                          <thead>
                            <tr>
                              <th>Rank</th>
                              <th>Year/Week</th>
                              <th>Exchange Rate</th>
                              <th>Total Amount</th>
                              <th>Profit/Loss</th>
                            </tr>
                          </thead>
                          <tbody>
                            <% @top_three.each do |result|%>
                              <tr>
                                <th scope="row"><%= @top_three.index(result) + 1%></th>
                                <th scope="row"><%= result.first %>     | Week <%= week_number(result.first)%></th>
                                <!-- current_rate + value -->
                                <th scope="row"><%= result.second.round(4)%></th>
                                <!-- exchange_rate * amount -->
                                <th scope="row"><%= exchange_total_amount(@calculation, result) %></th>
                                <!-- (predicted_rate * amount) - (today_rate * amount) -->
                                <th scope="row"><%= profit_loss(@calculation, result) %></th>
                              </tr>
                            <% end %>
                          </tbody>
                        </table>
  										</div>
  										<!-- /Subscribe Form -->

  									</div><!-- /content slide -->
  									</div>
  								</div>
  								<!-- /row -->
  							</div>
  							<!-- /container -->
  						</div>
  						<!-- /home section -->

  					</div>
  					<!-- /bt-carousel -->
  				</div>
  			</div>
  		</div>
  	</section>
  	<!-- /section -->
  </div>
  <!-- /main -->
</div>
<%= render 'full_list'%>
